<app-navbar-default></app-navbar-default>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="sectionHead">Get Civic'd</h1>
        <p class="paraStyle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <h1 class="sectionHead">Local Gov't Structure</h1>
        <p class="paraStyle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <h1 class="sectionHead">Important Election Dates</h1>
      </div>
    </div>
    <div class="row upperCalendar">
      <div class="col-2">
        <i><img src="../../assets/icons/calendar.svg"></i>
      </div>
      <div class="col-4">
        <div class="electionHead"><strong>Election Type</strong></div>
        <div class="subElectionHead">Voting Hours</div>
        <div class="subElectionHead">Early Voting</div>
      </div>
      <div class="col-2">
        <i><img src="../../assets/icons/calendar.svg"></i>
      </div>
      <div class="col-4">
        <div class="electionHead"><strong>Election Type</strong></div>
        <div class="subElectionHead">Voting Hours</div>
        <div class="subElectionHead">Early Voting</div>
      </div>
    </div>
    <div class="row bottomCalendar">
      <div class="col-2">
        <i><img src="../../assets/icons/calendar.svg"></i>
      </div>
      <div class="col-4">
        <div class="electionHead"><strong>Election Type</strong></div>
        <div class="subElectionHead">Voting Hours</div>
        <div class="subElectionHead">Early Voting</div>
      </div>
      <div class="col-2">
        <i><img src="../../assets/icons/calendar.svg"></i>
      </div>
      <div class="col-4">
        <div class="electionHead"><strong>Election Type</strong></div>
        <div class="subElectionHead">Voting Hours</div>
        <div class="subElectionHead">Early Voting</div>
      </div>
    </div>
  </div>
</div>
