<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col">
        <div class="loginWrapStyle text-center">
          <img class="logoStyle" src="../../assets/images/civicd_logo_full.svg" alt="Civicd Logo" />
        </div>
      </div>
     </div>
     <div class="row justify-content-center formRow">
      <div class="col-md-5">
      <div class="text-center">
        <form #f="ngForm" class="formStyle">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><img src="../../assets/icons/user_icon.svg" class="userIcon"/></span>
            </div>
            <input type="text" class="form-control" placeholder="USERNAME" name="Email" ngModel aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><img src="../../assets/icons/lock_icon.svg" class="userIcon"/></span>
            </div>
            <input class="form-control" type="password" placeholder="PASSWORD" name="Password" ngModel aria-label="Password" aria-describedby="basic-addon2">
          </div>
        </form>
        <div *ngIf="loginErrMsg != ''" class="text-center errorMsgStyle alert alert-danger">
          {{loginErrMsg}}
        </div>
        <div text-center>
          <button (click)="logUserIn(f)" class="logInBtn" ion-button primary type="submit">Sign In</button>
        </div>
        <div text-center>
          <button class="registerBtn" ion-button color="light" type="button" round routerLink="startRegister">Create Account</button>
        </div>
        <div class="orgFootWrap">
          <p>
            Have an organization?
          </p>
          <p>
            <a routerLink="inviteRequest"><strong>Get an invite</strong></a> and post your event!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
