
@mixin for-phone-only {
  @media (max-width: 599px) and (max-height: 699px) { @content; }
}
@mixin for-tall-phone-only {
  @media (max-width: 599px) and (min-height: 700px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}

.navWrap {
  text-align: center;
  padding-top: 1rem;
  background-color: rgb(225,46,82);
}
.btnWrapDiv {
  text-align: right;
  padding: 0rem;
  background-color: rgb(225,46,82);
}
.logoStyle {
  height: auto;
  width: 25rem;
  @include for-phone-only {
    width: 20rem;
  }
  @include for-tall-phone-only {
    width: 22rem;
  }
}
.btnStyle {
  background-color: rgba(0,0,0,.0);
  color: white;
  padding: .75rem;
  cursor: pointer;
  &:hover {
    background-color: rgb(74,139,203)
  }
}
.activeBtn {
  background-color: rgb(62,82,113);
}
