
@mixin for-phone-only {
  @media (max-width: 599px) and (max-height: 699px) { @content; }
}
@mixin for-tall-phone-only {
  @media (max-width: 599px) and (min-height: 700px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}

.container-fluid {
  background: linear-gradient(rgba(231,231,233,173), rgba(177,195,212,255));
  height: 100vh;
}

  .imgStyle {

    border-radius: 50%;
    @include for-phone-only {
      height: 125px;
      width: 125px;
    }
    @include for-tall-phone-only {
      height: 175px;
      width: 175px;
    }
    @include for-tablet-portrait-up {
      height: 200px;
      width: 200px;
    }

  }

  .checkedInBox {
    border-width: .25rem;
    border-style: solid;
    border-color: rgb(151,151,151);
    padding: .25rem;
    @include for-phone-only {
      font-size: 1rem;
    }
    @include for-tall-phone-only {
      font-size: 1.25rem;
    }
    @include for-tablet-portrait-up {
      font-size: 1.25rem;
    }
  }

  .sectionHead {
    margin-top: 2rem;
    font-size: 3rem;
    font-family: sans-serif;
    @include for-phone-only {
      font-size: 3rem;
    }
    @include for-tall-phone-only {
      font-size: 3rem;
    }
    @include for-tablet-portrait-up {
      font-size: 4rem;
    }
  }
  .userNameHead {
    font-size: 2.5rem;
    font-family: sans-serif;
    @include for-phone-only {
      font-size: 1.15rem;
    }
    @include for-tall-phone-only {
      font-size: 1.5rem;
    }
    @include for-tablet-portrait-up {
      font-size: 2.5rem;
    }
  }
  .addressHead {
    font-size: 1.75rem;
    font-family: sans-serif;
    @include for-phone-only {
      font-size: 1rem;
    }
    @include for-tall-phone-only {
      font-size: 1.25rem;
    }
    @include for-tablet-portrait-up {
      font-size: 2rem;
    }
  }
  .tagStyle {

    margin-top: .75rem;
    padding: .5rem;
    background: rgb(25,57,104);
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    font-family: sans-serif;
    font-size: 1.15rem;
    @include for-phone-only {
      font-size: 1.15rem;
    }

  }

  .aboutPara {
    @include for-phone-only {
      font-size: 1.25rem;
    }
    @include for-tall-phone-only {
      font-size: 1.5rem;
    }
    @include for-tablet-portrait-up {
      font-size: 1.75rem;
    }
  }

  
